.vs/
.vscode/
bin/
obj/
Properties/
media/*
temp/*
logs/*
profiles/*
src/bots/*
!src/bots/templateBot.fs
!src/bots/templateBot.fs.ignore
src/.obsolete/*
extensions/Aestas.Test.CSharp/.vs/*
extensions/Aestas.Test.CSharp/obj/*
extensions/Debug/*
extensions/Release/*
fable/*
src/tests/interactive/privateVar.fsx
src/tests/interactive/privateVar.csx
src/web/Aestas.WebUI/obj
src/web/Aestas.WebUI/Properties
src/web/Aestas.WebUI/bin
src/web/Aestas.WebUI/.vs
src/commands/compiler/bin
src/commands/compiler/obj
aestas.fsproj