.vs/
.vscode/
bin/
obj/
Properties/
media/*
temp/*
logs/*
profiles/*
src/bots/*
src/.obsolete/*
extensions/Aestas.Test.CSharp/.vs/*
extensions/Aestas.Test.CSharp/obj/*
extensions/Debug/*
extensions/Release/*
fable/*

aestas.fsproj