@page "/"

<PageTitle>Home</PageTitle>

<div style="width: 100%; height: calc(100dvh - 100px); overflow-y: auto;">
    @for (int i = 0; i < 200; i++)
    {
        <p>Hello, world!</p>
        }
    </div>

Welcome to your new Fluent Blazor app.